body {
    text-align: center;
}

.divall {
    padding: 0;
    width: 600px;
    margin: 0 auto;
}

#div_table {
    display: none;
    margin: auto;
}

p {
    height: 10px;
}

table {
    border: 1px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;

}

h2 {
    font-family: "Microsoft YaHei UI";
}

caption {
    font-size: larger;
    margin: 1em auto;
}

th,
td {
    padding: 1em;
}

th {
    background: #555;
    /* border: 1px solid #777; */
    color: #fff;
}

tbody tr:nth-child(odd) {
    background: #ccc;
}


.trans input {
    width: 300px;
    height: 35px;
    margin: 0;
    padding: 0px;
}

.table2 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
}


.table2 th,
td {
    padding: 1em;
}

.table2 tr td {
    padding: 1em;
}

.table2 tr td input {

    width: 45px;
    padding: 0px;

}

.submit_button {
    height: 50px;
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 150px;
}

.submit_button:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

.submit_button:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}

#add_div {
    display: none;
}

#update_div {
    display: none;
}

#del_div {
    display: none;
}